.main-content{
margin: 100px 0px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    background: #f2f2f2;
}
.border{
    border: 5px solid;
    border-image-slice: 1;
}
.card{
    flex:0 0 200px;
    border-image-source: linear-gradient(to left,indigo, #d53a9d,red);
    text-align: center;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: auto;
}
.card img:hover{
    transform: scale(1.3,1.3);
    transition: transform 1s linear;
}
.card a{
    text-decoration: none;
    color: red;
}
@media only screen and (max-width:439px){
    .card{
        flex: 1 0 200px;
    }
}